.icon{
    transform: scale(2.5);
}

.icon-bg{
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(15, 219, 192));
}

.bg-head{
    background-image: linear-gradient(90deg,rgb(0, 199, 76), rgb(0, 187, 255)
    );
}