.icon{
    transform: scale(4);
}


.icon-bg{
    /* background-color: aqua; */
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(15, 219, 192));
}


/* .bg-cus-teal{
    background-image: url('https://media.istockphoto.com/vectors/dental-office-interior-with-reclining-chair-drill-hand-pieces-and-vector-id1062174182?k=20&m=1062174182&s=612x612&w=0&h=2oTvFmthVETwa-LcBYKYb4fco4QOAfBwllVtsSc4Flo=');
} */


.bg-head{
    background-image: linear-gradient(90deg,rgb(0, 199, 76), rgb(0, 187, 255)
    );
}