.bg-cus-login {
    background-image: url(../../img/wave.svg);
    background-repeat: no-repeat;

}

.bg-cus-add {
    background-color: #ffff;
    box-shadow: -11px 11px 22px #bebebe, 11px -11px 22px #ffffff;
}



input::placeholder {
    /* color: beige; */
}