.app{
  font-family: 'Poppins', sans-serif;
}


.bg-cus{
  background-image: url('https://img.freepik.com/premium-vector/embossed-square-white-background_51543-224.jpg?w=740');
  background-size: cover;
}